body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e9ecef;
    color: #333;
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px; /* espacio debajo del título */
}

#map {
    height: 250px; /* altura del mapa */
    width: 100%; /* ancho al 100% */
    border: 2px solid #000000; /* borde azul */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra */
}

#info {
    text-align: center;
    margin: 10px 0;
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

.description {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin: 0;
}
